:root {
  --primary: #80B979;
}

.btn {
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn-mobile-menu {
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn-card {
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn-card:hover {
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 24px;  
  transition: all 0.2s ease-out; 
  color: #fff; 
  border: 2px solid var(--primary);  
} 

.btn-mobile-menu:hover {
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 22px;  
  transition: all 0.2s ease-out; 
  color: #fff; 
  border: 2px solid var(--primary);  
} 

.btn:hover {
  background-color: transparent;
  border-radius: 6px;
  padding: 8px 20px;  
  transition: all 0.2s ease-out; 
  color: #fff; 
  border: 2px solid var(--primary);  
} 
